<footer class="bg-gray-100 border-t ">
    <!-- Bottom Footer Section -->
    <div class="py-10 bg-white">
      <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 px-6">
        <!-- Logo and Address -->
        <div>
          <img src="/images/logo nxtTick.png" class="h-[30px] w-[130px] object-contain" alt="">
          <p class="mt-12 text-gray-600">
            400 University Drive Suite 200 Coral Gables,<br> 
            FL 33134 USA
          </p>
        </div>

        <!-- Links -->
        <div>
          <h3 class="text-lg font-semibold text-gray-800">Links</h3>
          <ul class="mt-12 space-y-6 text-gray-600">
            <li><a href="#" class="hover:text-blue-600">Home</a></li>
            <li><a href="#" class="hover:text-blue-600">Shop</a></li>
            <li><a href="#" class="hover:text-blue-600">About</a></li>
            <li><a href="#" class="hover:text-blue-600">Contact</a></li>
          </ul>
        </div>

        <!-- Help -->
        <div>
          <h3 class="text-lg font-semibold text-gray-800">Help</h3>
          <ul class="mt-12 space-y-6 text-gray-600">
            <li><a href="#" class="hover:text-blue-600">Payment Options</a></li>
            <li><a href="#" class="hover:text-blue-600">Returns</a></li>
            <li><a href="#" class="hover:text-blue-600">Privacy Policies</a></li>
          </ul>
        </div>

        <!-- Newsletter -->
        <div>
          <h3 class="text-lg font-semibold text-gray-800">Newsletter</h3>
          <div class="mt-12 flex items-center">
            <input
              type="email"
              placeholder="Enter Your Email Address"
              class="w-full px-4 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <button class="px-4 py-2  text-black border-gray-300 border rounded-r-lg hover:bg-gray-200">
              SUBMIT
            </button>
          </div>
        </div>
      </div>

      <!-- Copyright Section -->
      <div class="mt-10 text-center  text-gray-600 text-sm">
        <hr class="mb-4 ">
        <p>2024 <span class="font-bold text-blue-600 ">nxtTick</span>. All rights reserved</p>
      </div>
    </div>
  </footer>