<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="bg-white-100">
    <!-- Navbar -->
    <header class="bg-white shadow-md sticky">
        <div class="container mx-auto px-4 py-3 flex items-center justify-between">
            <div class="mx-10 flex items-center space-x-2">
                <img src="/images/logo nxtTick.png" alt="" style="width: 130px; height: 30px;"> 
            </div>
            <div class="space-x-4">
                <a href="login"><button class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Login</button></a>
                <a href="signup"><button class="px-4 py-2 text-gray-600 hover:text-gray-800 border-2 border-grey-200 rounded-lg hover:bg-gray-200">Sign Up</button></a>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="flex items-center justify-center min-h-screen">
        <div class="container mx-auto px-4 py-10 lg:flex lg:space-x-8 items-center">
            <!-- Image Section -->
            <div class="flex justify-center lg:w-2/3 mb-8 lg:mb-0">
                <div class="w-full  overflow-hidden rounded-lg shadow-lg">
                    <img src="/images/login img.jpg" alt="Optimus Prime Image" class="w-[950px] h-[600px]" >
                </div>
            </div>

            <!-- Form Section -->
            <div class=" w-full max-w-md lg:w-1/3 p-8 rounded-lg  ">
                <h2 class=" text-3xl font-bold text-gray-800 mb-4">Login</h2>
                <p class="text-lg text-blue-600 mb-6">Enter your details below</p>
                
                <form class="space-y-4" onsubmit="event.preventDefault(); submitLoginDetail(); " >
                    <input id="email" name="email" type="email" placeholder="Email " class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600">
                    <input id="password" name="password" type="password" placeholder="Password" class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600">
                    <button type="submit" class="w-full py-3 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-700" >Login</button>
                </form>
                <p class="mt-4 text-md text-blue-700 mb-6 hover:text-blue-800 hover:underline cursor-pointer">Forget Password</p>
                
                <div class="flex items-center justify-center my-4" style="margin-top: -25px;">
                    <span class="text-gray-500">OR</span>
                </div> 
                
                <a href="auth/google"><button class="mt-4 w-full py-3 flex items-center justify-center bg-white border rounded-lg text-gray-600 hover:bg-gray-100">
                    <img src="/images/google logo.png" alt="Google Logo" class="w-5 h-5 mr-3">
                    Sign up with Google
                </button></a>
                
                <p class="text-center text-gray-500 mt-6">Dont have an account? <a href="signup" class="text-blue-600 hover:underline">Sign Up</a></p>
            </div>
        </div>
    </main>
<script>
    function submitLoginDetail(){
        const email=document.getElementById("email").value
        const password=document.getElementById("password").value
        //validation
        function validateEmail(email) {
                const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return regex.test(email);
        }

        if(!email||!password){
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "All fields are required"
            });
            return;
        }
        if(!validateEmail(email)){
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Enter a valid email address"
            });
            return;
        }
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

        if (!passwordRegex.test(password)) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Password must have at least 8 characters, including an uppercase letter, a lowercase letter, a number, and a special character (@, $, etc.)"
                });
            return;
        }
        //fetch method
        fetch('/user/login', {
            headers: {
                "Content-Type": "application/json",
            },
            method: "POST",
            body: JSON.stringify({
            email: email,
            password: password,
            }),
        }).then(response=> response.json()).then(data =>{
            if(data.status){
                window.location.href='/user/home'
            }else if(data.isBlock){
                Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.message || 'User is Blocked by admin'
                });
            }else{
                Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.message || 'Something went wrong!'
                });
            }
           
        })
        .catch(error =>{
            console.log("Error : ",error);
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong! Please try again.'
            });
        });
        
    }
</script>

</body>
</html>